body{
    display: flex;
    flex-direction: column;
    height: 100dvh;
}
.pesquisar {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
	border-radius: 10px;
    width:50%;
    margin: auto;
    top: (100dvh - 2dvh);
    text-align: center;
    height: 28rem;
    font-size: large;
    font-weight: 600;
}